<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活未成功</title>
    <style type="text/css">

        body{
            margin: 0;
            padding: 0;
            font-family: 'Microsoft Yahei';
            font-size: 20px;
            color: black;
        }

        div p{
            margin: 100px auto 0;
            height: 200px;
            width: 200px;
            line-height: 200px;
        }
    </style>
</head>
<body>
<div>
    <p>
        对不起,激活链接已失效.
        <br />
        我们重新向您发了一封新的含有激活链接的邮件,请注意查收.
    </p>
</div>
</body>
</html>